Django==6.0.7
djangorestframework==3.17.1
redis==8.0.1
requests==2.34.2
django-cors-headers==4.9.0
python-dotenv==1.2.2
celery==5.6.3
django-celery-beat==2.9.0
psycopg[binary]
confluent-kafka==2.15.0
opensearch-py==3.2.0
django-storages==1.14.6
boto3==1.43.51
gunicorn==26.0.0
drf-spectacular==0.30.0
channels[daphne]